.header {
  transition: all 0.5s;
  z-index: 997;
  background-color: #fff;
}

.contact-container {
  background-color: #00403d;
  color: white;
  padding: 10px 20px;
  height: 40px;
}

.contact-info {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  align-items: center;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 20px;
  height: 50px;
}

.logo {
  width: 60px;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

.menu li {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s;
}

.menu li:hover {
  color: #ffcc00;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contact span {
    display: none;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: white;
    text-align: center;
    padding: 20px 20px 40px;
    z-index: 10;
  }

  .menu.open {
    display: flex;
    gap: 30px;
  }

  .hamburger {
    display: block;
  }

  .navbar {
    position: relative;
  }
}
