.portfolio-section {
    text-align: center;
    padding: 40px;
    background-color: #000; 
    color: #fff; 
  }
  
  .portfolio-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .portfolio-categories {
    margin-bottom: 20px;
  }
  
  .portfolio-categories button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #ffcc00; 
    border: none;
    cursor: pointer;
  }
  
  .portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .portfolio-item {
    position: relative;
    overflow: hidden;
    width: calc(33.333% - 20px); 
    margin: 10px;
  }
  
  .portfolio-item img {
    width: 100%;
    transition: transform 0.5s ease;
  }
  
  .portfolio-item:hover img {
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    transition: transform 0.5s ease;
    transform: translateY(100%);
    text-align: center;
  }
  
  .portfolio-item:hover .overlay {
    transform: translateY(0);
  }
  
  .overlay h3 {
    margin: 10px 0;
  }
  .view-all{
    background-color: #ffcc00;
    margin: 0 10px;
    padding: 10px 20px;
  }