*{
    font-family:"poppins",sans-serif;
}

.services-container {
    height: 100%;
    overflow-y: auto;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.89);
    text-align: center;
    color: black;
}
.service{
    color: white;
    margin-top: -40px;
    margin-bottom: 40px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.service-card {
    border: 2px solid #f1c40f;
    padding: 20px;
    text-align: center;
    height: 200px;
    background-color: #fff;
    transition: transform 0.8s, box-shadow 0.3s, background-color 0.3s;
    border-radius: 8px;
    position: relative; 
    z-index: 1; 
    box-shadow: 10px 10px 0px 0px #ffcc00;
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.8s ease-out, transform 0.8s ease-out; 
}

.service-card:hover {
    transform: scale(0.95);
    box-shadow: 0 4px 20px rgba(241, 196, 15, 0.5);
    background-color: #1abc9c;
}

.service-card img {
    max-width: 80px;
    margin-bottom: 10px;
}

.service-icon {
    font-size: 5rem; 
    padding-top: 20px;
}

.service-card.visible {
    opacity: 1; 
    transform: translateY(0); 
}

@media only screen and (max-width: 1024px) {
    .services-grid {
        grid-template-columns: repeat(1, 1fr); 
    }
}

@media only screen and (max-width: 600px) {
    .services-grid {
        grid-template-columns: 1fr; 
    }

    .service-card {
        padding: 15px;
        height: auto;
        font-size: 0.9rem;
    }

    .service-icon {
        font-size: 3rem;
    }
}
