.testimonials-section {
  background-color: #f1c40f;
  padding: 50px 20px;
  text-align: center;
}

.testimonials-heading {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.testimonials-title {
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0;
  color: black;
}

.testimonials-slider {
  margin-top: 20px;
}

.testimonial {
  padding: 20px;

  border-radius: 10px;

  margin: 10px;
  text-align: center;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  margin-left: 205px;
}

.testimonial-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.testimonial-title {
  font-size: 14px;
  color: black;
  margin-top: 5px;
}

.testimonial-feedback {
  font-size: 19px;
  color: black;
  margin-top: 10px;
  line-height: 1.5;
  padding-left: 50px;
  font-weight: lighter;
}

.slick-dots {
  bottom: -30px;
}

@media screen and (max-width: 768px) {
  .testimonials-heading,
  .testimonials-title {
    font-size: 16px;
  }

  .testimonial {
    width: 100%;
    padding: 15px;
  }

  .testimonial-image {
    width: 80px;
    height: 80px;
    margin-left: 315px;
  }
}
