/* Global Styles */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: auto; /* Ensure scrolling is enabled */
}

* {
  box-sizing: border-box;
}

.about-us {
  min-height: 100vh; /* Ensure it takes at least the full viewport height */
}
